.cov-water-meters {
  width: 300px;
  background-color: var(--calcite-ui-background);

  calcite-tab {
    width: 100%;
    padding: 1rem 0.75rem;
  }
}

.cov-water-meters--export-results {
  div {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-top: 1rem;
  }
}

.cov-water-meters--icon {
  margin-right: 0.5rem;
}

.cov-water-meters--popup--table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.8rem;

  tr:nth-child(odd) {
    background-color: #f3f3f3;
  }

  tr:nth-child(even) {
    background-color: rgba(#f3f3f3, 0.5);
  }

  th {
    border-right: 3px solid rgba(#cacaca, 0.25);
    font-weight: 500;
  }

  th, td {
    text-align: left;
    padding: 0.5rem;
  }
}
